{% extends "general.html.twig" %}

{% block body %}
    <h1>Bienvenue sur le site officiel site officiel de vente vraiment meilleur que le Bon Coin ... Oui</h1>
    
    <div class="container col-lg-8 col-lg-offset-2">        
        <div class="row col-lg-4">
            <ul>
                <li><button class="row col-lg-12" type="button">Aled</button></li>
                <li><button class="row col-lg-12" type="button">Aled</button></li>
            </ul>
        </div>
        <div class="row col-lg-4">
            Picture
        </div>
        <div class="row col-lg-4">
            <ul>
                <li>first</li>
                <li>second</li>
                <li>third</li>
            </ul>
        </div>
    </div>
{% endblock %}