{% extends "general.html.twig" %}
{% block title %}
    Accueil - {{parent()}}
{% endblock %}
{% block main %}
    <h1>Bienvenue sur le site officiel de vente vraiment meilleur que le Bon Coin ... Oui</h1>   
        <div class="row col-lg-4">
            <ul>
                <p>Trouvez la bonne affaire parmi 666 666 666 666 petites annonces sur Valkyrie.satan.</p>
                <li><button class="row col-lg-12" type="button">Déposer une annonce</button></li>
            </ul>
        </div>
        <div class="row col-lg-6">
            <img src="{{asset('Media/carte-Valkyrie.jpg')}}" alt="" width="619px" height="684px"/>
        </div>
        <div class="row col-lg-2 pays">
            <ul>
                <li><a href="aled.com">Pays 1</a></li>
                <li><a href="aled.com">Pays 2</a></li>
                <li><a href="aled.com">Pays 3</a></li>
            </ul>
        </div>
{% endblock %}