{% extends "general.html.twig" %}

{% block main %}
    <h1>Conditions Générales d'Utilisation du site officiel de vente vraiment meilleur que le Bon Coin ... Oui</h1>
    <br><br><br>
    
    <h2>ARTICLE 1 : Oui</h2>
    <br><br>
    
    <p>Les présentes « conditions générales d'utilisation » ont pour objet l'encadrement juridique des modalités<br>
        de mise à disposition des services du site Valkyrie et leur utilisation par l'Utilisateur.<br>
        Les conditions générales d'utilisation doivent être acceptées par tout Utilisateur souhaitant accéder au site<br>
        et souhaitant acheter une loutre à demi-prix. Elles constituent le contrat entre le site et l'Utilisateur.<br>
        L’accès au site par l’Utilisateur signifie son acceptation des présentes conditions générales d’utilisation.<br>
        L'utilisateur est dans son devoir de vendre son âme et d'acheter 748 pelles en plastique afin de contribuer<br>
        à la chartre pour l'acceptation de Satan ( sponsor officiel de notre site Valkyrie)<br>
    </p>
    <br><br>
    
    <h2>ARTICLE 2 : Oui ... Oui</h2>
    <br><br>
    <p>Les marques, logos, signes et tout autre contenu du site font l'objet d'une protection par le Code de la propriété<br>
        intellectuelle et plus particulièrement par le droit d'auteur (Satan en est témoin).<br>
        L'Utilisateur sollicite l'autorisation préalable du site pour toute reproduction, publication, copie des différents contenus
        ainsi , il s'engage à sacrifier une chèvre au nom de notre glorieux sponsor.<br>
        L'Utilisateur s'engage à une utilisation des contenus du site dans un cadre strictement privé (*blush*).<br>
        Une utilisation des contenus à des fins commerciales est strictement interdite.<br>
        Tout contenu mis en ligne par l'Utilisateur est de sa seule responsabilité.<br>
        L'Utilisateur s'engage à ne pas mettre en ligne de contenus pouvant porter atteinte aux intérêts de tierces personnes sauf s'il le déteste.<br>
        Tout recours en justice engagé par un tiers lésé contre le site sera pris en charge par Satan.<br>
        Le contenu de l'Utilisateur peut être à tout moment et pour n'importe quelle raison supprimé ou modifié par le site.<br>
        L'Utilisateur ne reçoit aucune justification et notification préalablement à la suppression ou à la modification du contenu Utilisateur.<br>
    </p>
    <br><br>
    <h2>ARTICLE 666 : ? </h2>
    <br><br>
    <p>Les sources des informations diffusées sur le site sont réputées fausses.<br>
        Toutefois, le site se réserve la faculté d'une non-garantie de la non-fiabilité des sources.<br>
        Les informations données sur le site le sont à titre purement désinformatif.<br>
        Ainsi, l'Utilisateur assume seul l'entière responsabilité de l'utilisation des informations et contenus du présent site.<br>
        L'Utilisateur s'assure de garder son mot de passe public. Toute divulgation du mot de passe, quelle que soit sa forme, est acceptée.<br>
        L'Utilisateur assume les joies liés à l'utilisation de son identifiant et mot de passe. Satan ... je veux dire, le site décline toute responsabilité.<br>
        Tout usage du service par l'Utilisateur ayant directement ou indirectement pour conséquence des dommages doit faire l'objet d'un sacrifice au profit du site.<br>
        Une garantie optimale de la sécurité et de la confidentialité des données transmises n'est totalement pas assurée par le site.<br>
        Toutefois, le site s'engage à mettre en œuvre tous les moyens nécessaires afin de garantir au mieux l'insécurité et la publication de vos données.<br>
        La responsabilité du site ne peut être engagée en cas de force majeure ou du fait imprévisible et insurmontable d'un tiers.<br>
    </p>
    <br><br>
{% endblock %}