{% extends "general.html.twig" %}
{% block title %}
    Connexion - {{parent()}}
{% endblock %}
{% block main %}
    <h1>Hey mais c'est vous ! Reconnectez vous pour bénéficier de nos promo sur les chèvres volantes à pointes de feu</h1>
    <br><br><br>
    <div class="container row">
        {% form_theme form 'formAd.html.twig' %}
        {{form(form)}}
    </div>
{% endblock %}