{% extends "general.html.twig" %}

{% block body %}
    <h1>Foire Aux Question du site officiel de vente vraiment meilleur que le Bon Coin ... Oui</h1>
    <br><br><br>
    
    <h2><b>Q - Puis-je me faire livrer un porc-épic et de la sauce tomate dans le même paquet ?</b></h2>
    <p>R - C'est une question qui nous est souvent posée et nous pouvons vous assurer que nous n'en avons aucune idée... <br>
        Sérieusement aucune ....<br>
        Mais si vous cherchez à vous faire livrer un porc-épic avec de la sauce moutarde dans le même paquet alors dans ce cas ...<br>
        On en sait rien non plus ....
    </p>
 
    <br><br>
    <h2><b>Q - Puis-je éviter de vendre mon âme ?</b></h2>
    <p>Pour nos client encore réticents à s'abonner à notre site , une offre spéciale vente de reins vous est proposé (Les 2 bien sûr) <br>
       Mais si vous restez tout de même réticent nous pouvons vous envoyer un technicien qui prendra les disposition pour faire disparaitre votre personne<br>
       dans les plus bref délais (Satan vous remercie).
    </p>
    
    <br><br>    
    <h2><b>Q - Pourquoi je pose une question ?</b></h2>
    <p>C'est une très bonne question...<br>
    </p>
    <br><br>
    
    <h2><b>Q - Peut-on se désabonner du site ?</b></h2>
    <p>Bien entendu !<br>
        On vous fournit même les balles avec !
    </p>
    <br><br>
{% endblock %}