{# empty Twig template #}
<link rel="stylesheet" href="{{asset('./src/Resources/bootstrap-3.3.7/bootstrap-3.3.7-dist/css/bootstrap.min.css')}}">

{% block header %}
    <h1>Le site officel de vente vraiment meilleur que le Bon Coin ... Oui </h1>

    
    </br>
{% endblock %}
{% block body %}
    Oui
{% endblock %}
{% block footer %}
    
{% endblock %}