{% extends "general.html.twig" %}

{% block body %}
    <h1>Bienvenue sur la page d'abandon de votre âme sur le site officiel de vente vraiment meilleur que le Bon Coin ... Oui</h1>
    <br><br><br>
    
    {{form(form)}}
{% endblock %}
